</body>
<footer>
    <p>Coded with love by <a href="https://github.com/anasolomon" target="_blank">Ana-Maria Tanasciuc</a>  @<a href="https://github.com/angelabauer" target="_blank">The App Brewery</a></p>
</footer>
</html>